script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.js")